@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow: hidden;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    font-family: 'Roboto', sans-serif;
}

.board_score{
    width: 100%;
    margin: 20px auto;
    color: #fff;
    text-align: center;
}

canvas{
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    background-color: rgb(51, 51, 51);
}

.start{
    width: 300px;
    height: 300px;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    display: flex;
    justify-content: center;    
    z-index: 1000;
}

.start p{
    position: relative;
    top: 120px;
    height: min-content;
    font-size: 20px;
    color: rgb(199, 199, 199);
}

.controles{
    display: none;
    position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 50%);
    width: 280px;
    height: 280px;
}


.controles div{
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    height: 90px;
    width: 60px;
    background-color: lightslategray;
    outline: none;
    border: none;
    font-size: 16px;
}

.middle button{
    height: 60px;
    width: 90px;
}

.controles .middle{
    height: 65px;
    justify-content: space-between;
    padding: 0 15px;
}


@media (max-width: 500px ){
    .controles{
        display: block;
    }
    canvas{
        top:35%;
    }
    .start{
        top:35%;
    }
    
}
